body{
font-family: Arial;
background-color:white;
}

nav{
background-color:purple;
padding:10px;
}

nav a{
color:blue;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:white;
}

h1{
color:black;
}

.p1{color:purple;}
.p2{color:purple;}
.p3{color:purple;}
.p4{color:purple;}
.p5{color:purple;}

img{
margin:10px;
}
