body{
font-family: Arial;
background-color: lightgreen;
}

nav{
background-color: darkgreen;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

h1{
color:darkblue;
}

.p1{color:red;}
.p2{color:green;}
.p3{color:purple;}
.p4{color:brown;}
.p5{color:orange;}

img{
margin:10px;
}
