body{
font-family: Arial;
background-color:purple;
}

nav{
background-color:red;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:green;
}

h1{
color:black;
}

.p1{color:purple;}
.p2{color:purple;}
.p3{color:pink;}
.p4{color:purple;}
.p5{color:purple;}

h2{
color:blue;
}

.p1{color:red;}
.p2{color:red;}
.p3{color:red;}
.p4{color:red;}
.p5{color:red;}

img{
margin:10px;
}
